NEXT_PUBLIC_ORPHEUS_DEBUG=false

# Mock mode: will replace the dynamic URL for slides and videos with static URLs
# No HTTP request will be made to the backend
NEXT_PUBLIC_MOCK_MODE=false

# Only relevant if NEXT_PUBLIC_MOCK_MODE is true
# Base URL for mock videos (e.g., 0.mp4, 1.mp4, ...)
NEXT_PUBLIC_MOCK_VIDEOS_BASE_URL=http://127.0.0.1:8080/videos/

# Only relevant if NEXT_PUBLIC_MOCK_MODE is true
# Base URL for the slides embed
NEXT_PUBLIC_MOCK_SLIDES_URL=http://127.0.0.1:8081/
